In [1]:
import pickle

import pandas as pd

In [2]:
INPUT_FOLDER = "../input"
DATA = f"{INPUT_FOLDER}/accidents.csv"

In [3]:
def read_pickle(fname):
    with open(f"{INPUT_FOLDER}/{fname}.pickle", "rb") as f:
        return pickle.load(f)

In [4]:
accidents_only_roads_gdf = read_pickle("accidents_enriched_gdf")
pois_gdf = read_pickle("pois_gdf")
shape_gdf = read_pickle("shape_gdf")

In [5]:
accidents_only_roads_gdf.head(2)

,Data zdarzenia,Godzina,GPS x,GPS y,Miejscowość,Ulica,Numer domu,Numer drogi,KM HM (Pikietaż),Obszar,...,Liczba wypadków,Lon,Lat,geometry,geometry_circle,index_right,id,tags,highway,maxspeed
0,2016-01-01,05:15:00,18*38'089,50*22'110,GLIWICE,TOSZECKA,NaN,901,"61,6",Obszar niezabudowany,...,0,18.635806,50.369722,"POLYGON ((18.63591 50.36972, 18.63591 50.36971...","POLYGON ((18.63591 50.36972, 18.63591 50.36971...",NaN,NaN,NaN,NaN,NaN
1,2016-01-01,00:05:00,19*10'510,50*19'231,DĄBROWA GÓRNICZA,SIENKIEWICZA,NaN,G200 030S,NaN,Obszar zabudowany,...,0,19.180833,50.323083,"POLYGON ((19.18093 50.32308, 19.18093 50.32307...","POLYGON ((19.18093 50.32308, 19.18093 50.32307...",131903.0,way/173123561,"{'footway': 'sidewalk', 'highway': 'residentia...",residential,NaN

In [6]:
pois_gdf.head(2)

,id,tags,date_added,geometry
0,node/1328467,{'highway': 'crossing'},2015-11-07T19:02:37,POINT (18.08480 49.75204)
1,node/1328469,"{'highway': 'crossing', 'source': 'HELP SERVIC...",2015-11-07T19:02:37,POINT (18.08587 49.75220)

In [7]:
shape_gdf.head(2)

                                            geometry
0  POLYGON ((18.03504 50.06577, 18.03601 50.06546...